.container {

    .text-center {
        width: 100%;
        text-align: center;
    }
    .btn-edit {
        border: none;
        width: 30px;
        background: transparent;
        color: orange;
        padding: 0px;
    }
    .btn-delete {
        border: none;
        width: 30px;
        background: transparent;
        color: red;
        padding: 0px;
    }

    .section-title{
        font-size: 32px;
        color:#0071ba ;
        font-weight: 560 ;
        padding: 16px
    }

    .btn-add-user {
        width: fit-content;
        border-radius: 5px;
        height: 36px;
    }
}