.section-share {
    position: relative;
    margin-top: 24px;
    margin-bottom: 48px;
    padding: 12px 0;

    &.section-specialty{
        // background-color: #f0f0f0;
        // background-color: #F0F2F5;

    }

    &.section-medical_facility {
        background-color: #F0F2F5;
    }

    &.section-outstanding-doctor {
        background: url('../../assets/background/OutstandingDoctor_background.png');
    }

    &.section-handbook {
        background-color: #F0F2F5;
    }

    &.section-about {

    }
       
    .section-container {
        margin: 0 50px;
        display: flex;
        flex-direction: column;

    .section-header {
        height: 30%;
        margin-bottom: 20px;
        padding-top: 20px;

        .title-section {
            font-size: 20px;
            font-weight: 600;
        }

        .btn-section {
            border-radius: 8px;
            float: right;
            padding: 10px 16px;
            border: none;
            outline: none;
            background-color: #ebebeb;
            color: black;
            cursor: pointer;
            text-transform: uppercase;
            transition: all 0.3s !important;

            &.btn-background {
                background: #9ddfe7;
                color: #3C97A2;
            }
            &:hover {
                color: #fff;
                background: #f7d800;
            }
        }
    }

    .section-body {
        height: 70%;
        // border: 1px solid black;

        .img-customize {

            height: 260px;
            // border: 1px solid green;
            display: flex !important;
            flex-direction: column;
            padding: 0 8px !important;
            text-align: center;
            font-size: 16px;
            cursor: pointer;

            .img-title {
                padding: 6px 0;
                font-weight: 600;

                span {
                    &:hover {
                        color:#49BCE2 ;
                    }
                }
            }



            &:hover {

                img {
                    transform: scale(1.1);
                }
            }
        &.img-doctor-customize{
            align-items: center;
        }

        .img-custom{
            width: 100%;
            height: 100%;
            border-radius: 40px;
            // border: 3px solid #F1F1F1 !important;
            overflow: hidden;

            img {
                object-fit: cover;
                width: 100%;
                height:100%;
                transition: all 0.6s !important;
            }

            &.img-doctor {
                width: 200px !important;
                height: 200px !important;
                border-radius: 50%;
            }

            &.img-handbook {
                border-radius: 0 !important;
                border: none !important;
            }
        }
    }
    }

    .slick-slider{

        position: relative;

        .slick-prev {
            border-radius: 12px;
            left: -12px !important;
            top: 50% !important;
            background: #fff;
            z-index: 1000 !important;
            height: 48px !important;
            width: 44px !important;
            border: 2px solid #d7d7d7 !important;

            &:hover {
                background-color: #eceaea !important;
                transition: all 0.3s !important;

            }
        }

        .slick-next  {
            border-radius: 12px;
            right: -12px !important;
            top: 50% !important;
            background: #fff;
            z-index: 1000 !important;
            height: 48px !important;
            width: 44px !important;
            border: 2px solid #d7d7d7 !important;

            &:hover {
                background-color: #eceaea !important;
                transition: all 0.3s !important;
            }
        }

    }
}


}
.slick-prev::before, .slick-next::before  {
    color: red;
    font-family: FontAwesome !important;
}

.section-about {
    background: url('../../assets/background/OutstandingDoctor_background.png');
    padding: 12px 100px;
    

    .section-about-header{
        padding: 20px 0;
        font-size: 28px;
        font-weight: 600;
        text-align: center;
    }

    .section-about-content {
        display: flex;

        .left-content {
            width: 50%;
            border-radius: 10px;

            iframe {
                border-radius: 24px;
            }
        }

        .right-content {
            width: 50%;
            height: 400px;

            .right-child {
                display: flex;
                flex-wrap: wrap;

                .child {
                    width: 50%;
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    a{
                        display: block;
                        text-align: center;
                        height: 65px;
                        width: 274px;
                        background-color: #fff;
                        padding: 16px 0;
                        border-radius: 10px;

                        img {
                            width: 165px;
                            height: 39px;
                        }
                    }
                }
            }
        }
    }
}


.home-footer{
    text-align: center;
    a{
        text-decoration: none;
    }
}
